
Code/.ipynb_checkpoints/LorenzAttractor-checkpoint.ipynb
Code/.DS_Store
Code/.ipynb_checkpoints/RosslerAttractor-checkpoint.ipynb
.DS_Store
.DS_Store
Code/.ipynb_checkpoints/test-checkpoint.ipynb
Code/.ipynb_checkpoints/test-checkpoint.ipynb
Code/.ipynb_checkpoints/lorenzwrappertest-checkpoint.ipynb
Code/.ipynb_checkpoints/wrappertests-checkpoint.ipynb
Code/__pycache__/aux.cpython-37.pyc
*.pyc
Code/__pycache__/aux.cpython-37.pyc
Code/wrappertests.ipynb
Code/__pycache__/aux.cpython-37.pyc
Code/__pycache__/aux.cpython-37.pyc
Code/__pycache__/ESN.cpython-37.pyc
