
Code/.ipynb_checkpoints/LorenzAttractor-checkpoint.ipynb
Code/.DS_Store
Code/.ipynb_checkpoints/RosslerAttractor-checkpoint.ipynb
.DS_Store
.DS_Store
Code/.ipynb_checkpoints/test-checkpoint.ipynb
Code/.ipynb_checkpoints/test-checkpoint.ipynb
